section{
    @extend .tittle__table;
    }
    div .container__audio{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./img/aquados.jpg);
        height: 100px;
    }
}
@media (max-width: 820px){
    .container__audio{
        height: 100px;
        opacity: 0.9;
        padding: 15px 0;
        border-bottom: 4px solid black;
    }
}
@media (max-width: 420px){
    .container__audio{
        height: 100px;
        padding: 15px 0;
        border-bottom: 4px solid black;
    }
}