.envivo{
    display: flex;
    flex-flow: column wrap;
    .tittle__envivo{
        display: flex;
        justify-content: center;
        font-style: italic;
        text-shadow: 0 15px 35px rgba(255, 255, 255, 0.4) ; 
        color: rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        font-weight: bold;
    }
        .img__envivo{
            display: flex;
            justify-content: center;
        }
        .img[src="mandrashowdos.jpg"]{
            display: block;
            justify-content: center;
        }
            .button__comprar{
                display: inline-block;
                justify-content: center;
                margin: 20px 400px;
                padding: 15px 30px;
                font-size: 18px;
                font-style: bold;
                color: white;
                background-color: black;
                cursor: pointer;
                transition: all 0,7s;
            }
            &:hover{
                background-color: rgb(109, 15, 67);

            }
            &:active{
                background-color: white;
                color: black;
            }
            .tittleDos__envivo{
                margin-left: 30px;
                text-decoration-line: underline;
                color: white;
                background-color: rgba(0,0,0, 0.8);
                padding: 10px 0;
            }
            .videos__show {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            iframe{
                margin: 10px 30px;
                display: flex;
            }
}

@media (max-width: 820px){
    .envivo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .tittle__envivo{
        display: block;
        position: absolute;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        color: white;
    }
    img[src="mandrashowdos.jpg"]{
        display: block;
        position: absolute;
        margin: 30px auto;
    }
    
    .button__comprar{
        width: 250px;
        font-size: 12px;
    }
    .videos__show {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .videos__show iframe{
        margin: 10px 30px;
        width: fit-content;
        height: fit-content;
    }
    .tituloDos__envivo{
        margin-left: 30px;
        padding: 10px 100px;
    }
    .tittle__table{
        font-size: 14px;
    }
}

@media (max-width: 420px){
.envivo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tittle__envivo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
img[src="mandrashowdos.jpg"]{
    display: block;
}
.button__comprar{
    width: 200px;
    font-size: 12px;
}
.videos__show {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
iframe{
    margin: 10px 30px;
    max-width: 310px;
    height: fit-content;
}
.tituloDos__envivo{
    margin-left: 30px;
    padding: 10px 100px;
}
}