$mapBotones:(instagram: #E1306C, spotify:#405DE6, twitter: #1DA1F2);
@each $var, $color in $mapBotones {
    .#{$var}{
        color: $color, instagram;
        
    } 
} 
footer{
    p{
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: $paddingFooter;
        display: flex;
        justify-content: center;
    
        li{
            margin: 0 20px;
            padding: $paddingFooter;
            justify-items: center;
            border-bottom: 0 5px;
        }
    }
    .instagram{
        background-color: map-get($mapBotones, instagram);
    }
    
}