
footer{
    color: white;
    background-color: black;
    padding: 10px 0;

    p{
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: $paddingFooter;
        display: flex;
        justify-content: center;
    
        li{
            margin: 0 20px;
            padding: $paddingFooter;
            justify-items: center;
            border-bottom: 0 5px;
            a{
                text-decoration: none;
            &:hover{
                color: gray;
                transition: 0.5s;
            }
            }
        }
    }
}
 /*MAPS*/
 $links:(
    link__map1: red,
    link__map2: green,
    link__map3: yellow,
);
@each $rrss, $colors in $links {
    #{$links} {
        color: $colors;
    }
}

@media (max-width: 420px){
footer{
    p{
        margin: 3px auto;
        font-size: 12px;
    }
    ul{
        width: 100%;
        margin: 10px auto;
        font-size: 14px;
    }
    .redes{
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }
}