*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: hungry_hunters;
    src: url(Hungry\ Hunters.ttf);
}

body{ 
    width: $widthPag;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px;
}
.e_shop{
    width: $widthPag;
    background-image: url(../img/);
}
.musica{
    width: $widthPag;
    background-image: url(../img/street-g60e5ce1bf_1280.png);
}
.vivo{
    width: $widthPag;
    background-image: url(./img/fondo.jpg);
}
.index{
    width: $widthPag;
    background-image: linear-gradient(rgba(31, 17, 54, 0.87), white);
}
.contacto_indez{
    width: $widthPag;
    background-image: url(./img/chain.jpg);
}


@media (max-width: 820px){
    body{
        font-size: 14px;
    }
}
@media (max-width: 420px){
    body{
        font-size: 14px;
    }
}