section .hero{
    background-image: url(./img/mandrag.jpg);
    background-size:repeat;
    height: 400px;

    .about__tittle{
        color: white;
        background-color: rgba(0,0,0, 0.8);
        width: 50%;
        padding-bottom: 20px;
        margin: 0;
    }
    .about__text{
        width: 50%;
        font-family: kremlin;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        background-color: rgba(0,0,0, 0.8);
        padding: 20px 0;
    }
}
@media (max-width: 820px){
    .hero{
        border-bottom: 4px solid $colorBlack;   
    }
    .about__tittle{
        font-size: 14px;
    }
    .about__text{
        font-size: 11px;
    }
}
@media (max-width: 420px){
    .hero{
        height: 400px;
        border-bottom: 4px solid $colorBlack;
    }
    .about__tittle{
        font-size: 14px;
    }
    .about__text{
        font-size: 11px;
    }
}