

$mapBotones:(instagram: #E1306C, spotify:#405DE6, twitter: #1DA1F2);
@each $var, $color in $mapBotones {
    .#{$var}{
        color: $color;
    } 
    .instagram: ($mapBotones, instagram);
    .spotify: ($mapBotones, spotify);
    .twitter: ($mapBotones, twitter);
}
    