$colorBlack: black;
$widthPag: 100%;
$paddingTitulos: 5px;
$paddingFooter: 0;
$mediaMovile: 420px;
$mediaTablet: 820px;
$mapBotones: $var;
$mt: 25px;
$p: 7px 10px;
$color: (
    instagram: #E1306C,
    spotify: #405DE6,
    twitter: #1DA1F2,
)