*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: hungry_hunters;
    src: url(Hungry\ Hunters.ttf);
}

body{ 
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px;
}
.e_shop{
    width: 100%;
    background-image: url(./img/fondotripy.jpg);
}
.musica{
    width: 100%;
    background-image: url(./img/fond.jpg);
}
.vivo{
    width: 100%;
    background-image: url(./img/fondo.jpg);
}
.index{
    width: 100%;
    background-image: linear-gradient(rgba(31, 17, 54, 0.87), white);
}
.contacto_indez{
    width: 100%;
    background-image: url(./img/chain.jpg);
}

header{
    width: 100%;
    color: white;
    background-color: black;
}
.tittle__pag{
    font-family: hungry_hunters;
    font-size: 140px;
    margin: 0;
}
/*
    animation-name: img;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
    @keyframes img{
    from{
        transform: translate(-20px);
    }
    to{
        transform: translate(20px);
    }
    }
*/
/*
img[src="img/gato.jpg"]{
    width: 70px;
    height: 70px;
    margin-top: 30px;
    position: sticky;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgba(0,0,0, 0.8);
}
*/
nav .navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    font-size: 18px;
    margin: 0 auto;
}
nav .navItem {
    display: inline-block;
    background-color: black;
    color: rgba(221, 215, 215, 0.9);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 15px;
    padding: 2 10px;
    transition: background-color: 0,5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    transition: color: 0,5s;
}
.navItem:hover{
    background-color: rgba(109, 15, 67, 0.89);
    color: black;
}


/* INICIO */

.hero{
    background-image: url(./img/mandrag.jpg);
    background-size:repeat;
    height: 400px;
}
.about__tittle{
    color: white;
    background-color: rgba(0,0,0, 0.8);
    width: 50%;
    padding-bottom: 20px;
    margin: 0;
}
.about__text{
    width: 50%;
    font-family: kremlin;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgba(0,0,0, 0.8);
    padding: 20px 0;
}
.audio__tittle{
    color: white;
    background-color: rgba(0, 0, 0, 1);
}
.container__audio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/aquados.jpg);
    height: 100px;
}
.container__cards{
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(./img/montain.jpg)
}
.container__table{
    background-image: url(./img/galaxys.jpg);
}
.table{
    height: fit-content;
    width: 50%;
    margin: 20px auto;
    background-color: black;
    color: white;
}
.tittle__table{
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0 auto;
}

.tittle_song{
    margin: 10px;
}
.fondo{
    margin: 15px;
    height: 220px;
    width: 280px;
    background-color: rgba(223, 223, 223, 0.8); 
}
.container__cards iframe{
    place-self: center;
    margin: 15px auto;
    width: 280px;
}
nav ul a{
    text-decoration: none;
}

/* EN VIVO */

.envivo{
    display: flex;
    flex-flow: column wrap;
}
.tittle__envivo{
    display: flex;
    justify-content: center;
    font-style: italic;
    text-shadow: 0 15px 35px rgba(255, 255, 255, 0.4) ; 
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.img__envivo{
    display: flex;
    justify-content: center;
}
img[src="mandrashowdos.jpg"]{
    display: block;
    justify-content: center;
}
.button__comprar{
    display: inline-block;
    justify-content: center;
    margin: 20px 400px;
    padding: 15px 30px;
    font-size: 18px;
    font-style: bold;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all 0,7s;
}
.button__comprar:hover{
    background-color: rgb(109, 15, 67);
}
.button__comprar:active{
    background-color: white;
    color: black;
}
.videos__show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
iframe{
    margin: 10px 30px;
    display: flex;
}
.tittleDos__envivo{
    margin-left: 30px;
    text-decoration-line: underline;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    padding: 10px 0;
}

/* MUSICA ALBUMES */
.albumes{
    display: flex;
    flex-flow: row wrap;
    margin: 10px 20px;
}

.buttom__comprarMerch{
    margin-top: 25px;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border-color: black;
}
.buttom__comprarMerch:hover{
    border: 2px solid rgb(18, 199, 18);
}

/* CONTACTO */ 

.CONTACTO{
    font-style: italic bold;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button[type="submit"]{
    font-weight: bold;
    color: rgb(36, 34, 34);
    cursor: pointer;
    margin-top: 15px;
}

main h3{
    display: flex;
    justify-content: center;
}
form{
    color: white;
}
footer{
    color: white;
    background-color: black;
    padding: 10px 0;
}
.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fotos .ft{
    display: grid;
    width: 100%;
}
/*
.fotos{
    overflow: hidden;
}

.fotos img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}
.fotos img:hover{
    transform: scale(1.2);
}
*/
/*
.albumes{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.album__video{
    display: grid;
    justify-items: center;
}
*/
.btnRegistrarse--color{
    color: black;
    background-color: rgba(109, 15, 67, 0.89);
    font-weight: bold;
}
footer p{
    margin: 0;
}
footer ul {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}
footer ul li{
    margin: 0 20px;
    padding: 0;
    justify-items: center;
    border-bottom: 0 5px;
}
.description__elements{
    display: block;
    justify-content: center;
    align-content: center;
    margin: 14px auto;
}
.contene{
    overflow: hidden;
}
.efectoScale__img{
    cursor: pointer;
    transition: 1s;
}
.efectoScale__img:hover{
    transform: scale(1.1);
}

@media (max-width: 820px){
    body{
        font-size: 14px;
    }
    .tittle__pag{
        font-size: 80px;
    }

    /*MEDIA 820 INICIO*/
    .about__tittle{
        width: 65%;
        font-size: 16px;
        padding: 0 auto;
    }
    .about__text{
        width: 65%;
        font-size: 14px;
        height: fit-content;
        padding: 0 auto;
    }
    img[src="img/gato.jpg"]{
        display: none;
    }
    .hero{
    border-bottom: 4px solid black;
    }
    .fondo iframe{
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        margin-bottom: 10px;
    }
    .fondo{
        margin: 3px;
        height: fit-content;
        width: 90%;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .container__audio{
        height: 100px;
        opacity: 0.9;
        padding: 15px 0;
        border-bottom: 4px solid black;
    }
    .albumesTittle{
        font-size: 24px;
        margin: 20px auto;
    }
    /*MEDIA 820 EN VIVO*/
    .envivo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .tittle__envivo{
        display: block;
        position: absolute;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        color: white;
    }
    img[src="mandrashowdos.jpg"]{
        display: block;
        position: absolute;
        margin: 30px auto;
    }
    
    .button__comprar{
        width: 250px;
        font-size: 12px;
    }
    .videos__show {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .videos__show iframe{
        margin: 10px 30px;
        width: fit-content;
        height: fit-content;
    }
    .tituloDos__envivo{
        margin-left: 30px;
        padding: 10px 100px;
    }
    .tittle__table{
        font-size: 14px;
    }

    /*Musica*/
    .albumes{
        display: grid;
        width: 100%;
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .album__video{
        display: grid;
        justify-items: center;
    }
    .album__video iframe{
        width: 350px;
        height: auto;
    }

    /*E-SHOP*/

    footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-items: center;
}

}
@media (max-width: 420px){
    body{
        font-size: 14px;
    }
    .tittle__pag{
        font-size: 38px;
    }
    nav{
        display: none;  
    }

    /*MEDIA 420 INICIO*/
    .about__tittle{
        width: 100%;
        font-size: 16px;
        padding: 0 auto;
    }
    .about__text{
        width: 100%;
        font-size: 12px;
        height: fit-content;
        padding: 0 auto;
    }
    img[src="img/gato.jpg"]{
        display: none;
    }
    .hero{
    height: 400px;
    border-bottom: 4px solid black;
    }
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 5px;
    }
    .fondo{
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
        margin: 5px auto 0px auto; 
    }
    .fondo iframe{
        margin: 0 auto;
    }
    .container__audio{
        height: 100px;
        padding: 15px 0;
        border-bottom: 4px solid black;
    }
    .tittle__table{
        font-size: 12px;
    }

    /*MUSICA*/
    .albumes{
        display: grid;
        width: 100%;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: (5, 1fr);
        row-gap: 10px;
    }
    .album__video iframe{
        width: 350px;
        height: auto;
    }

    /*MEDIA 420 ENVIVO*/
    .envivo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .tittle__envivo{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    img[src="mandrashowdos.jpg"]{
        display: block;
    }
    .button__comprar{
        width: 200px;
        font-size: 12px;
    }
    .videos__show {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    iframe{
        margin: 10px 30px;
        max-width: 310px;
        height: fit-content;
    }
    .tituloDos__envivo{
        margin-left: 30px;
        padding: 10px 100px;
    }
}